<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACAU | Museu</title>
    <link rel="icon" href="/public/images/icons/cccu.png" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <link rel="stylesheet" href="/public/styles/partials/page-landing.css" />
    <link rel="stylesheet" href="/public/styles/partials/top-bar.css" />
    <link rel="stylesheet" href="/public/styles/partials/hero-banner.css" />
    <link rel="stylesheet" href="/public/styles/partials/header.css" />
    <link rel="stylesheet" href="/public/styles/partials/who-we-are.css" />
    <link rel="stylesheet" href="/public/styles/partials/we-have.css" />
    <link rel="stylesheet" href="/public/styles/partials/footer.css" />
</head>
<body>
    <div id="page-landing">
        <div class="container">
            <section class="page-header">
                <div class="top-bar">
                    <img class="top-bar-image" src="/public/images/icons/cccu.png" alt="Associação Sigla">
                </div>
                <section id="hero-banner">
                    <img src="/public/images/acau-place-black.png" alt="Imagem da Associação">
                    <h2>Bem vindos a ACAU<br>
                    Casa de Cadeia e Câmara<br> de Uruburetama</h2>
                </section>
                <div class="image-container">
                    <img class="hero-image" src="/public/images/acau.png" alt="Logo da Associação">
                </div>
                <div class="data-container">
                    <hr class="top">
                    <h1>Associação Cultural e Artística de Uruburetama</h1>
                    <div class="acau-place">
                        <img src="/public/images/acau-place.jpg" alt="ACAU">
                    </div>
                </div>
            </section>
            <section class="who-we-are">
                <div class="who-container">
                    <h2>Como a ACAU surgiu?</h2>
                    <hr class="who">
                </div>
                <article class="text">
                    <img src="/public/images/elias.jpg" alt="Diretor do Museu">
                    <h3>Elias Cruz - Pesquisador</h3>
                    <p>"A ideia surgiu em 2019, um ano após a retirada de seus detentos. O prédio possui uma enorme relevância histórica em nossa cidade, pois este foi construído em 1889 para ajudar a população no enfrentamento da seca.<br> 
                    Originalmente ele serviu como câmara e cadeia municipal, se tornando apenas cadeia a partir da década de 1950.<br>
                    Hoje, dada a raridade estrutural do prédio no Ceará, a oportunidade dada pela prefeitura de ocupá-lo e a apresentação do projeto, o espaço nos foi cedido e serve não só como museu mas também como centro cultural."</p>
                </article>
            </section>
            <section class="we-have">
                <div class="we-container">
                    <h2>O que há aqui?</h2>
                    <hr class="we">
                    <div class="items-grid">
                        <article class="card">
                        <img src="/public/images/grid/historic-file.svg" alt="Arquivos Históricos">
                        <h3>Arquivos Históricos</h3>
                    </article>
                    <article class="card">
                        <img src="/public/images/grid/museum.svg" alt="Museu - Arquitetura">
                        <h3>Museu - Arquitetura</h3>
                    </article>
                    <article class="card">
                        <img src="/public/images/grid/art.svg" alt="Exposições Artísticas">
                        <h3>Exposições Artísticas</h3>
                    </article>
                    <article class="card">
                        <img src="/public/images/grid/handicraft.svg" alt="Artesanato">
                        <h3>Artesanato</h3>
                    </article>
                    <article class="card">
                        <img src="/public/images/grid/culture-tradition.svg" alt="Cultura e Tradição">
                        <h3>Cultura e Tradição</h3>
                    </article>
                    <article class="card">
                        <img src="/public/images/grid/search.svg" alt="Pesquisas">
                        <h3>Pesquisas</h3>
                    </article>
                </div>      
                </div>
            </section>
            <footer class="footer-info">
                <p>Desenvolvido por ACAU</p>
            </footer>
        </div>
    </div>
</body>
</html>