.who-we-are {
    align-items: center;
    justify-content: center;
    background-color: #40916c;
    margin: 1rem 0;
    padding: 1rem 12rem;
}

.who-we-are .who-container h2 {
    justify-content: center;
    text-align: center;
    font: 700 2.75rem "Nunito", sans-serif;
    color: #f4f4f4;
    padding: 1rem 0;
}

hr.who {
    border: 1px solid #f4f4f4;
    justify-content: center;
    align-items: center;
    margin: auto 40rem;
}

.who-we-are .text img {
    margin: 2rem auto;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.who-we-are .text h3 {
    color: #f4f4f4;
    font-size: 2.75rem;
    text-align: center;
}

.who-we-are .text p {
    padding: 2rem 0;
    font: 700 2.5rem "Nunito", sans-serif;
    color: #f4f4f4;
    text-align: center;
}

@media (max-width: 700px) {    
    .who-we-are {
        margin: 1rem auto;
        padding: 1rem 2.5rem;
    }

    .who-we-are .who-container h2 {
        color: #f4f4f4;
        padding: .5rem 0 .7rem;
    }

    hr.who {
        border: 1px solid #f4f4f4;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
    }

    .who-we-are .text img {
        width: 12rem;
        margin: 2rem auto;
    }
    
    .who-we-are .text h3 {
        color: #f4f4f4;
        font-size: 2.25rem;
    }
    .who-we-are .text p {
        font: 700 1.75rem "Nunito", sans-serif;
        padding: 1rem 0;
    }
}

